package.json
patches
node_modules
docs
.hugo_build.lock
hugo_stats.json
static/images/favicon*
static/images/background.jpg
static/pdfjs/**
resources
content/post/*/front/
content/post/*/title/
content/post/*/cover/
content/post/*/img*/
content/post/*/page*/
content/post/*/end-*/
content/post/*/front-*/
content/post/*/back-*/
content/post/*/back/
content/post/*/end/
content/post/*/preview.*
content/post/*/*.pdf
**/.DS_Store
static/fonts/**
assets/css/**
static/pdfjs/**
**/vips-properties.xml
