@import "normalize";

$header--main-color-background: #333;
$header--main-color-text: #fff;
$summary-margin-bottom: 1.5em;
$nav-height: 6rem;
$color-metadata: #666;
$header--main-margin-bottom: 3.6em;

/* Fonts */
$font-family: Cormorant, "Cormorant Garamond", Georgia, "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
$font-family-metadata: "Open Sans", system-font;
$font-family-title: "Berkshire Swash", ;

/* Title font face */
/* berkshire-swash-regular - latin */
@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/berkshire-swash-v9-latin-regular.woff2') format('woff2'),
       url('/fonts/berkshire-swash-v9-latin-regular.woff') format('woff'),
       url('/fonts/berkshire-swash-v9-latin-regular.ttf') format('truetype');
}

/* cormorant-regular - latin - Body font */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/cormorant-v10-latin-regular.woff2') format('woff2'),
       url('/fonts/cormorant-v10-latin-regular.woff') format('woff'),
       url('/fonts/cormorant-v10-latin-regular.ttf') format('truetype');
}
/* cormorant-italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/cormorant-v10-latin-italic.woff2') format('woff2'),
       url('/fonts/cormorant-v10-latin-italic.woff') format('woff'),
       url('/fonts/cormorant-v10-latin-italic.ttf') format('truetype');
}
/* cormorant-700 - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/cormorant-v10-latin-700.woff2') format('woff2'),
       url('/fonts/cormorant-v10-latin-700.woff') format('woff'),
       url('/fonts/cormorant-v10-latin-700.ttf') format('truetype');
}
/* cormorant-700italic - latin */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/cormorant-v10-latin-700italic.woff2') format('woff2'),
       url('/fonts/cormorant-v10-latin-700italic.woff') format('woff'),
       url('/fonts/cormorant-v10-latin-700italic.ttf') format('truetype');
}

/* open-sans-regular - latin used for header and footer */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/open-sans-v18-latin-regular.woff2") format('woff2'),
         url("/fonts/open-sans-v18-latin-regular.woff") format('woff'),
         url("/fonts/open-sans-v18-latin-regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/open-sans-v18-latin-600.woff2") format('woff2'),
         url("/fonts/open-sans-v18-latin-600.woff") format('woff'), url("/fonts/open-sans-v18-latin-600.ttf") format('truetype');
}

@import "blogpaper.scss";

.header--main {
    position: relative;
    background: url('/images/background.jpg') rgba(255, 255, 255, .7);
    background-blend-mode: hue;
    background-size: cover;
    margin-bottom: $header--main-margin-bottom;

    @media (max-width : 420px) {
        margin-bottom: calc($header--main-margin-bottom / 2);
    }

    .header__title {
        font-family: $font-family-title;
        font-size: 3em;
        color: darken($header--main-color-text, 90%);
        font-weight: bold;
        @media (max-width : 420px) {
            font-size: 2em;
            text-align: center;
        }
    }

    .header__metadata {
        .date, .datetime {
            font-family: $font-family-metadata;
            color: darken($header--main-color-text, 70%);
        }
    }

}

.nav {
    width: 100%;
    background-color: rgba(0, 0, 0, .2);

    .nav__content {
        font-family: $font-family-metadata;
        font-weight: 600;
        color: darken($header--main-color-text, 80%);
        height: $nav-height;

        a,
        a:active,
        a:focus,
        a:hover,
        a:visited {
            color: darken($header--main-color-text, 80%);
        }
    }

}

body {
    font-family: $font-family;

    &.about {
        background-position: 90% 15em;
        background-image: url("/images/cm.svg");
        background-repeat: no-repeat;

        p {
            margin-block-start: unset;
            margin-block-end: unset;
        }
    }
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    border-bottom: none;
}

.content {
    position: relative;

    .source {
        font-size: small;
        text-align: right;
        margin: 1.5em;
        color: lighten(#6c757d, 20%);

        a {
            color: lighten(#007bff, 20%);
        }
    }

    p {
        margin-block-start: .2em;
        margin-block-end: .4em;
        line-height: 1.45;
    }

    &.list .summary {
        margin-bottom: $summary-margin-bottom;
        display: flex;
        line-height: 1.6;

        @media (max-width : 420px) {
            flex-flow: row wrap;
        }

        .header {
            display: inline-block;
            vertical-align: top;

            .inline-list {
                display: unset;
            }

            .header__metadata {
                color: $color-metadata;
                font-family: $font-family-metadata;
                font-size: smaller;
            }
        }

        .summary__content {
            display: inline-block;
            width: 75%;
        }

        &.even {
            text-align: left;

            .preview-image {
                margin-right: 1.6em;
            }
        }

        &.odd {
            text-align: right;

            .preview-image {
                margin-left: 1.6em;
            }
        }

        &.odd, &.even {
            @media (max-width : 420px) {
                text-align: center;

                .preview-image {
                    margin-right: unset;
                    margin-left: unset;
                    margin: auto;
                }
            }
        }

        .preview-image {
            display: inline-block;
            width: fit-content;
            max-width: 20%;
            vertical-align: top;
            @media (max-width : 420px) {
                max-width: 100%;
                width: 100%;
            }

            img {
                display: inline-block;
                width: 100%;
            }
        }

        .preview-text {
            display: inline-block;
        }

    }

    .ruler {
        width: 25%;
        border-bottom: 1px solid darken($header--main-color-text, 20%);
        margin: auto;
        padding-top: .6em;
        margin-bottom: 2em;
    }

    .iiif {
        position: relative;

        #iiif-presentation {
            width: 100%;
            display: block;
            height: 90vw;
        }
    }
}

.pagination-container {
    font-family: $font-family-metadata;
    display: block;
    margin: auto;

    .pagination {
        justify-content: center;
    }

}

.footer {
    background-color: $header--main-color-background;
    color: darken($header--main-color-text, 20%);
    font-family: $font-family-metadata;
    font-size: small;

    .projektemacher {
        font-size: unset;
    }

    h6 {
        margin-block-start: unset;
        margin-block-end: unset;
    }

    .container {
        text-align: center;
    }

    a,
    a:active,
    a:focus,
    a:hover,
    a:visited {
        color: darken($header--main-color-text, 15%);
    }
}
