@import "normalize";

@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Comic Neue Regular'), local('ComicNeue-Regular'),
       url('../fonts/comic-neue-v2-latin-regular.woff2') format('woff2'),
       url('../fonts/comic-neue-v2-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Comic Neue';
  font-style: italic;
  font-weight: 400;
  src: local('Comic Neue Italic'), local('ComicNeue-Italic'),
       url('../fonts/comic-neue-v2-latin-italic.woff2') format('woff2'),
       url('../fonts/comic-neue-v2-latin-italic.woff') format('woff');
}
@font-face {
  font-family: 'Comic Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Comic Neue Bold'), local('ComicNeue-Bold'),
       url('../fonts/comic-neue-v2-latin-700.woff2') format('woff2'),
       url('../fonts/comic-neue-v2-latin-700.woff') format('woff');
}

@import "blogpaper.scss";

.header__title {
    font-family: 'Comic Neue';
}

body {
    &.about {
        background-position: 90% 27em;
        background-image: url("/images/cm.svg");
        background-repeat: no-repeat;
    }
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    border-bottom: none;
}

.footer {
    /* background-color: lighten(var(--header--main-color-background), 35%); */

    font-size: small;

    .projektemacher {
        font-size: unset;
    }

    h6 {
        margin-block-start: unset;
        margin-block-end: unset;
    }

    .container {
        text-align: center;
    }
}
