<!doctype html>
<html {{ with .Site.Language.Lang -}} lang="{{ . }}" {{- end }}>
{{ partial "head" . }}
{{- $class := "" }}
{{- with .Page.File -}}
  {{- if or (hasPrefix .Path "about") (hasPrefix .Path "/about") -}}
      {{- $class = "about" -}}
  {{- end -}}
{{- end -}}
{{- if .Params.metaPage -}}
    {{- $class = printf "%s %s" $class "meta" -}}
{{ end }}
<body class="{{ $class }} {{ if .IsHome }}home{{ end }}">
  {{ partial "nav" . }}
  <main>
    {{- block "main" . -}}{{- end -}}
  </main>
  {{ partial "footer" . }}
</body>
</html>
