{{ define "main" }}
  <article class="post">
    {{ partial "header" . }}

    <div class="container">
      <div class="content">
        {{- if .Description -}}
            <div class="book-about">
                <h2 class="book-about-heading">{{ i18n "aboutTheNeu" }} {{ i18n "book" }}</h2>
                <div class="book-about-text">
                    {{- .Params.description | markdownify -}}
                </div>
            </div>
        {{- end -}}
        <div class="content-text">
          {{- .Content -}}
        </div>

        <div class="iiif">
            {{- if hasPrefix .Params.iiifContext "http://iiif.io/api/presentation/" -}}
              {{- partial "iiif/iiif-presentation.html" . -}}
            {{- end -}}
        </div>
        {{- if hasPrefix .Params.iiifContext "http://iiif.io/api/presentation/" -}}
          {{- partial "iiif/iiif-presentation-pdf.html" . -}}
        {{- end -}}
      </div>
      {{/*
      {{- if .Params.tags }}
          <footer class="footer">
            {{- partial "taxonomies" (dict "Page" . "term" "tags") }}
          </footer>
      {{- end }}
      */}}
    </div>
  </article>
{{ end }}
