{{- define "main" -}}
    <article class="error404">
      {{ partial "header" . }}

      <div class="container">
          <div class="content">
              <h1>404 Nicht gefunden</h1>
              <div class="entry-content">
                 <p>Die angeforderte URL konnte auf dem Server nicht gefunden werden.</p>
                 <p>Du kannst hier zurück zur <a href="{{ .Site.BaseURL | safeHTML }}">Startseite</a>.</p>
              </div>
              <div class="errorImg row">
                {{ if .Site.Params.errorimg -}}
                  <img class="error404 mx-auto d-block" src="{{ .Site.Params.logo | absURL }}" alt="Die Seite kann nicht gefunden werden!"/>
                {{- end }}
              </div>
          </div>
      </div>

    </article>
{{- end -}}
