<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

  <title>
  {{- block "title" . -}}
    {{- with .Title -}}{{- . }} | {{ end -}}
    {{- .Site.Title -}}
  {{- end -}}
  </title>

  {{ partial "html/head/meta.html" . }}

  {{- range .AlternativeOutputFormats }}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}" title="{{ $.Site.Title | safeHTML }}">
  {{- end }}

    {{- partial "html/head/script.html" (dict "js" (partial "html/head/iiif-js.html" .)) -}}
    {{- partial "html/head/style.html" (dict "context" . "includes" (slice "css")) -}}

</head>
