<section class="list">
  {{- partial "header" . -}}
  {{- $pager := . -}}

  <div class="container">
    <div class="content list">
        {{ $paginator := .Paginate (where (where .Site.Pages "Type" "post").ByDate.Reverse "IsPage" true) }}
        {{ range $index, $element := .Paginator.Pages }}

        {{/* Preview */}}
        {{- $context := path.Dir .File.Path -}}

        {{- $defaultWidth := 400 -}}
        {{- $previewImg := (.Resources.ByType "image").GetMatch "front" -}}

        {{- if eq $previewImg nil -}}
            {{- errorf "Can't find image 'front' for %s" $context -}}
        {{- end -}}
        {{- $previewImg = $previewImg.Resize "300x" -}}
        {{- $class := "" -}}
        {{- if eq (mod $index 2) 0 -}}
            {{- $class = "even" -}}
        {{- else -}}
            {{- $class = "odd" -}}
        {{- end -}}

        <article class="summary {{ $class }}">
          {{- if eq (mod $index 2) 0 -}}
            <div class="preview-image">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ $previewImg.RelPermalink }}">
                </a>
            </div>
          {{- end -}}

          <div class="preview-text">
              <header class="header">
                {{- partial "banner" (dict "Page" . "page_href" .RelPermalink) }}

                <div class="header__metadata inline-list">
                  {{- partial "date.html" (dict "date" .Date "language" $.Page.Language "months" $.Site.Data.months) -}}
                </div>

                <h2 class="header__title">
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </h2>
              </header>
              {{- with .Summary }}
                 <div class="summary__content">
                    <a href="{{ $.RelPermalink }}">
                        {{ . | markdownify }}
                    </a>
                 </div>
              {{- end }}
           </div>
           {{- if ne (mod $index 2) 0 -}}
            <div class="preview-image">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ $previewImg.RelPermalink }}">
                </a>
            </div>
           {{- end -}}



        </article>
        <div class="ruler"></div>

    {{- end }}
    </div>

    <div class="metadata pagination-container">
      {{ template "_internal/pagination.html" .Page }}
    </div>
  </div>
</section>
